
/* Your CSS Code here. */
.main .btn {
    color:white;
    background-color: blue;
    border-radius: 5px;
    padding-left:3px;
    
}
.body{
    display: flex;
}
h1{
    padding-bottom: 10px;
    padding-top:5px;
}
.first{
    height:30rem;
}
